*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(145deg,#e13030,#26818b,#393b38);
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    margin: 3em auto 0;
    border-radius: 1em;
    padding: 2.5em 1.9em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.search{
    width:100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap:wrap;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: .5em 1.5em;
    height: 3.4em;
    width: 1rem;
    border-radius: 10px;
    flex:1;
    margin: 1rem 1rem 1rem 0;
    font-size: 1.1em;
    box-shadow: 10px 10px 10px #000000cd;
}

.btnNormal{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 40%;
    width: 4.2em;
    height: 4.2em;
    cursor: pointer;
    box-shadow: 10px 10px 10px;


}

.search button img{
    width: 1.9rem;
}

.weather-icon{
    width: 50%;
    margin: 1em 0;
}

.weather h1{
    font-size: 2.5em;
    font-weight: 400;
}
.weather h2{
    font-size: 2.4em;
    font-weight: 400;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 0 1rem; */
    margin-top: 2rem;

}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    margin: .5em;
}

.col img{
    width: 2.5rem;
    margin-right: .5rem;
}

.humidity, .wind{
    font-size: 1.8rem;
    margin-top: -6px;
}
